.container-md {
    /* background-color: rgb(59, 59, 59); */
}

.container-admin {
    display: flex;
    margin-top: 10px;
}

.container-admin-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;

}

@media screen and (max-width:1024px) {
    .sidebar__admin {
        display: none;
    }

    .container-admin-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

    }
}