.searching__background {
    margin-top: 30px;
    position: absolute;
    background-color: #fff;
}

.searching-title {
    /* width: 300px;
    display: flex;
    flex-direction: column; */
}

.searching-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.searching__container {
    display: flex;
    gap: 12px;
    text-decoration: none;
    justify-content: space-between;
    width: 390px;
}

.searching__container:hover {
    background-color: grey;
    color: #fff;
}

.searching__container .searching-link:hover {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .searching__background {
        margin-top: 50px;

    }
}

@media screen and (max-width:900px) {
    .searching__background {
        margin-top: 50px;
        right: 40px;
    }

    .searching__container {
        width: 335px;
        background-color: rgb(211, 211, 211);
    }
}