.filter__container {}

/* ********************TOP */
.filter__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.filter__logo {
    color: var(--Head---Color, #000000);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;

}

.filter-btnClear {
    padding: 3px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    box-shadow: 2px 2px 2px grey;
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    cursor: pointer;
    color: #726C6C;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

/* ********************CENTER */
.filter__center {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filter__item {
    border-radius: 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px;
}

.filter-title {

    margin-bottom: 25px;
}

.filter__item-rdo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}


.filter-rdo {
    display: flex;
    gap: 10px;
    width: 100%;
    color: rgb(139, 139, 139)
}

.filter-rdo_link {
    font-weight: 700;
    color: rgb(0, 0, 0) !important;

}



.filter-rdo:hover {
    font-weight: 700;

}

.filter-number {
    color: rgb(139, 139, 139)
}

.filter-number:hover {
    font-weight: 700;

}

.filter__item-price {
    display: flex;
    justify-content: space-around;
}

.item-price-1 {
    width: 75px;
    height: 40px;
    border: 0.5px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.css-14pt78w-MuiSlider-rail {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.38;
    width: 95%;
    height: inherit;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ******************************************* */
@media screen and (min-width: 768px) and (max-width:900px) {}

@media screen and (max-width: 767px) {}