.userInfor__container {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.userInfor-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 24px;
}

.userInfor-input input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
}

.userInfor-input label {
    font-weight: 500;
}

.userInfor__bottom {
    margin-bottom: 24px;
    margin-top: 24px;
}

.userInfor__botton-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;

}

.user__button-input input {
    padding: 10px;
    width: 270px;
    border: 1px solid grey;
    padding-left: 40px;
    border-radius: 5px;
}

.user__button-input {
    border-radius: 5px;
    text-align: center;

}

.icon123 {
    position: absolute;
    border-right: 1px solid grey;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfor__button-update {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #3E79E5, #01B8E3);
    font-weight: bold;
    color: #fff;
}

@media screen and (min-width: 768px) and (max-width:900px) {
    .userInfor-input input {
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        width: 210px;
    }

    .user__button-input input {
        padding: 10px;
        width: 180px;
        border: 1px solid grey;
        padding-left: 40px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 767px) {
    .userInfor-input input {
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        width: 150px;
    }

    .user__button-input input {
        padding: 10px;
        width: 130px;
        border: 1px solid grey;
        padding-left: 40px;
        border-radius: 5px;
    }
}