.contact__top {
    display: flex;


}

.contact__top p {
    font-weight: bold;

}

.main__contact {
    margin-top: 70px;
    margin-bottom: 50px;
}

@media screen and (max-width:768px) {
    .main__contact {
        margin-top: 0px;
    }

}