.footer_main {
    background-color: black;
    color: #FAFAFA
}

.body__footer {
    max-width: 1170px;
    padding: 80px 10.5px 0px;
}

.body_menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    justify-content: space-between;
}

.footer_li {
    display: flex;
    /* flex: 1; */
    list-style: none;
    gap: 24px;
    flex-direction: column;

}

.footer_li-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_li h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.footer__li-icon {
    top: 5px;
    position: relative;
    margin-left: -35px;

}

.footer_li input {

    margin-top: -8px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    padding: 12px 16px;
    border: 1.5px solid var(--Text, #FAFAFA);
}

.footer_listIcon {
    display: flex;
    gap: 24px;
    list-style: none;
}

.footer_subLi {
    list-style: none;
    margin-bottom: 16px;
}

.footer_subItem:hover {
    color: gray;
    font-weight: bold;
    cursor: pointer;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    height: 56px;
    border-top: 1px solid #ffffff;
    margin-top: 60px;
}

.abcs {
    width: 250px;
    height: 200px;

}

.food__qrcode-main p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
}

.food__qrcode {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
}

.food__qrcode-left img {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;

}

.food__qrcode-right img {
    width: 100%;
    max-width: 106px;
    height: 100%;
    max-height: 106px;
}

.food__qrcode-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px
}

.abcs {
    width: 100%;
}

/* ******************************************* */


@media screen and (max-width:1024px) {
    .body_menu {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        justify-content: space-between;
    }

    .footer_li:last-child {
        display: none;
    }

    .abcs {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .body_menu {
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        justify-content: center;
    }

    .footer_li {
        flex: 1 0 50%;
        margin-bottom: 24px;
    }

    .footer__copyright {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .body_menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        justify-content: center;
    }

    .footer_li {
        flex: 1 0 50%;
        margin-bottom: 24px;
    }

    .footer_li:nth-child(1) {
        display: none;
    }

    .footer_subLi:nth-child(4) {
        display: none;
    }

    .footer_li:nth-child(3) {
        display: none;
    }
}