.cart__AllMain {
    margin: 70px auto;
}

.cart__main {
    margin-top: 70px;
}

.cart__table {
    border-collapse: collapse;

    align-items: center;
}

.cart__btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cart__img {
    width: 87px;
    height: 87px;
}

.cart__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: aliceblue;
}

/* ****************BOTTOM*************** */
.cart__bottom {
    margin-top: 70px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
}

.cart-coupon input {
    max-width: 300px;
    height: 56px;
    border-radius: 5px;
    border: 1px solid grey;
}

.cart-coupon input::placeholder {
    color: grey;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.cart-coupon input:valid {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

.cart-coupon button {
    margin-left: 16px;
    width: 211px;
    height: 56px;
    background-color: #DB4444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-total {
    width: 473px;
    height: 324px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 32px 24px;

}

.cart-container {

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.cart-center {
    display: flex;
    justify-content: space-between;
}

.cart-btn {
    text-align: center;
}

.cart-btn button {
    width: 260px;
    height: 56px;
    background-color: #DB4444;
    color: #fff;
    border: none;
    border-radius: 4px;
}

/* ********************** */
.MuiTableCell-body {
    text-align: center;
}

.css-1ex1afd-MuiTableCell-root {
    display: none;
    display: flex;
    align-items: center;
    gap: 20px;

}

.ProfileM__container {
    display: none;
}

/* ******************************************* */
@media screen and (max-width:1024px) {

    .cart__bottom {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 26px;
        justify-content: center;
        align-items: center;
    }

    .cart-coupon {
        display: flex;
    }


}

@media screen and (max-width: 768px) {


    .cart__AllMain {
        display: none;
    }

    .ProfileM__container {
        display: block;
    }

}