.history__order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.my__top-title {
    display: flex;
    width: 500px;

}

.history__container {
    margin-top: 50px;
    margin-left: 35px;

}

.history__listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.history__Item {
    width: 100%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(109, 109, 109);
    cursor: pointer;
}

.history__a {
    margin-bottom: 20px;
    font-weight: bold;
}

.history__Click {

    border-bottom: 5px solid rgb(238, 77, 45);
    width: 100%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}