.checkout__main {
    margin-top: 70px;
}

.my__top {
    display: flex;

    align-items: center;

}

.my__top-title {
    display: flex;
    width: 500px;

}

.my__top-title p {
    color: var(--Text2, #000);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    opacity: 0.5;

}

.checkout__container {
    margin-top: 80px;
    margin-bottom: 140px;
}

.checkout__container h2 {
    margin-bottom: 40px;
}

.checkout__ship {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.checkout__ship-item {
    height: 40px;
    width: 40px;
    background-color: #DB4444;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout__ship-hr {
    width: 300px;
    height: 2px;
    border: 1px solid #DB4444;
    background-color: #ffffff
}

.checkout__container-form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 173px;

}

.checkout-form {
    width: 100%;

}


.checkout-font {
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5px;
}

.checkout-label {
    /* margin-top: 10px; */
    display: flex;
    align-items: center;

}

.checkout-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    padding: 0;
    accent-color: #DB4444
}

.form__input {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.form__input input {
    width: 100%;
    border: none;
    border-bottom: solid #c0c3c7;
    height: 32px;
}

.form__input input:focus {
    border: none;
    border-bottom: solid #a6c6e5;
    height: 32px;
    outline: 3px solid transparent;
}

/* *********************************************** */
.checkout-list {}

.checkout-Items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.Items__Right {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

}

.Item__right-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.Item__right-img {
    background-color: aliceblue;
    max-width: 54px;
    height: 54px;


}

.checkout-container {
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
}

.rdo__bank {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rdo__bank input[type='radio'] {
    width: 20px;
    height: 20px;
    accent-color: rgb(0, 0, 0);
}



.button__placeOrder button {
    margin-top: 32px;

}

.Checkout__coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px
}

.Checkout__coupon input {

    padding: 14px 70px 14px 24px;


}

.Checkout__coupon button {
    width: 211px;
    height: 56px;

}

.form-control {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid grey !important;

}

.form-control:focus {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #a6c6e5 !important;

}

.checkout-form>.form-floating {
    height: 90px;

}

/* ******************************************* */


@media screen and (max-width:1024px) {
    .checkout-list-main {
        width: 100%;
    }

    .checkout-list {
        width: 100%;
        margin-top: 110px;
    }

    .checkout__container-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .checkout__ship-hr {
        max-width: 200px
    }

    .checkout-form {

        width: 100%;
    }

    .button__placeOrder {
        display: flex;
        justify-content: flex-end;
    }

}

@media screen and (max-width: 768px) {
    .checkout__main {
        display: none;
    }

    .checkout__container-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .checkout__ship-hr {
        max-width: 200px
    }
}