.account__container {
    display: flex;
    gap: 20px;
}

.account__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px grey;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 4px;
}

.account__right {
    width: 100%;
}

.avatar__account {
    position: relative;
}

.account__btn-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: -40px;
    border: 1px solid rgb(224, 224, 224);

}

.account__title {
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__title h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.account__btn-file {
    background-color: white;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206)
}

.account__btn-file::-webkit-file-upload-button {
    padding: 6px;
    background-image: linear-gradient(to right top, #3E79E5, #01B8E3);
    border: none;
}

.account__left button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #3E79E5, #01B8E3);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ******************************************* */


@media screen and (min-width: 768px) and (max-width:900px) {
    .account__container {

        margin-right: 32px
    }

    .account__left {
        width: 69%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 5px 5px grey;
        padding: 32px;
        justify-content: space-between;
        border-radius: 15px;

    }

    .account__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .account__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .account__left {
        width: 60%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 5px 5px grey;
        padding: 32px;
        justify-content: space-between;
        border-radius: 15px;

    }
}