.my__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.my__top-title {
  display: flex;
  width: 500px;

}

.order__detail {
  margin: 40px 35px 140px 35px;
}

.order__tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__detail-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 5px solid rgb(45, 194, 88); */
  border: 5px solid rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(204, 204, 204);
}

.active-icon {
  color: rgb(45, 194, 88) !important;
  border-color: rgb(45, 194, 88) !important;
}

.order__detail-hr {
  width: 150px;
  background-color: rgb(204, 204, 204);
  height: 5px;
}

.active-hr {
  background-color: rgb(45, 194, 88) !important;
}

.order__tab-title {
  display: flex;

  gap: 58px;
  margin-top: 10px;
  margin-left: 165px;
}

.order__detail-title {
  width: 150px;
  height: 100%;
  text-align: center;
}

.order__detail-title p {
  font-size: 12px;
  color: grey;
}

.order__detail-top {
  margin-bottom: 40px;
}

.order__buyThank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
  border-top: 1px solid rgb(233, 233, 233);
}

.order__buyThank-title {
  padding: 0px 12px 0px 0px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.order__buyThank-btn button {
  height: 40px;
  width: 220px;
  color: #fff;
  background-color: rgb(238, 77, 45);
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
}

.order__buyThank-btn button:hover {
  background-color: #d73211;
  border-color: #ba2b0f;
}

.order__buyThank-Contact {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.order__buyThank-Contact button {
  height: 40px;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.order__buyThank-btnBill button {
  height: 40px;
  width: 220px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(104, 104, 104);
}

.order__buyThank-btnBill button:hover {
  border: 1px solid rgb(187, 187, 187);
}

.order__buyBill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px dashed rgb(153, 153, 153);
}

.order__detail-bottom {
  margin-top: 60px;
}