.accountLeft__container {
    height: 100%;
    box-shadow: 10px 5px 5px grey;

}

.accountLeft__main {
    padding: 20px;
}

.account__tabs {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.userInfor-btn {
    border-bottom: 2px solid #3E79E5;
    padding: 0px 0px 5px 0px;
    font-weight: bold;
}

.account-btn {
    padding: 0px 0px 5px 0px;
}

/* ******************************************* */


@media screen and (min-width: 768px) and (max-width:900px) {
    .accountLeft__container {
        height: 100%;
        box-shadow: 10px 5px 5px 5px grey;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {}