.sale__container {
    margin-top: 140px;
}

.sale__top {
    margin-top: 80px;
    display: flex;
    gap: 16px;
    align-items: center;
    color: black;

}

.sale__top-item {
    height: 40px;
    width: 20px;
    background-color: #BD4444;
    border-radius: 4px;
}

.sale__top-title {
    color: #BD4444;
    font-weight: bold;
}

/* **************************midle************************ */
.sale__midle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sale_midle-icon2 {
    margin-left: 8px;
    transform: rotate(180deg);
}

.sale__midle-righ {
    display: flex;
    gap: 8px;
}

.sale__midle-left {
    display: flex;
    gap: 87px
}

.sale__midle-right {
    cursor: pointer;
}

/* *****************************Product************************ */
/* .sale__product {
    margin-top: 40px;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.sale_product-btnAll {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.slick-arrow .slick-prev button {
    display: none;
}

.slick-arrow .slick-next button {
    display: none;
}

@media screen and (max-width:768px) {
    .sale__container {
        margin-top: 40px;
    }

    .sale__midle {
        margin-bottom: 20px;
    }

    .sale_product-btnAll {
        margin: 40px 0;
    }

    .sale__midle-right svg {
        width: 30px;
        height: 30px;
    }
}