.home {
    display: flex;

}



@media screen and (max-width:1440px) {
    .my__container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .homeContainer {
        width: 80%;
        max-width: calc(80% - 20px);
    }
}