.list__product-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}

.filter__title-product {

    color: #0D3356
}

.filter__selectbox {
    width: 14px;
    height: 37px;

}

/* ****************** */
.list__product-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -40px;
}

.product_icon-svg:hover path {
    stroke: #fff;
    fill: #0D3356;
    transition: all ease 0.3s;
}

.product_icon-svg path {
    transition: all ease 0.3s;
}

@media screen and (max-width:1440px) {
    .list__product-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width:1024px) {
    .list__product-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
}

@media screen and (max-width:768px) {
    .list__product-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .list__product-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:480px) {
    .list__product-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .list__product-bottom {
        margin-bottom: 20px;
    }

}