.ListOrder__Container {
    margin-top: 30px;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

.ListOrder__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ListOrder__top p {
    color: grey;
}

.ListOrder__Container p {
    margin-top: 15px;
    color: grey;
}

.ListOrder__center {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ListOrder__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.ListOrder__bottom-btn {
    height: 36px;
    width: 98px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    font-weight: 500;
    text-decoration: none;
}

.ListOrder__bottom-btnTitle {
    color: #2AA952;
    font-weight: 500;
}