.favorite__main-container {
    margin-top: 70px;
}

.favorite__main {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.f__main-left {
    width: calc(70% - 20px)
}


.f__main-right {
    height: 100%;
    padding: 30px 10px;
    width: calc(30% - 20px);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title__favorite {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.f__main-right h2 {

    display: flex;
    justify-content: center;
    align-items: center;

}

.total__cost {

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.total__costNumber {
    height: 32px;
    background-color: grey;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__button button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #000;
}



/* ******************************************* */
@media screen and (max-width:1024px) {
    .f__main-left {
        width: 100%
    }

    .f__main-right {
        display: none;
    }

    .favorite__main {
        margin: 80px 35px 40px 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px
    }
}

@media screen and (max-width: 768px) {

    .favorite__main-container {
        display: none;
    }

    .favorite__main {
        margin: 80px 35px 40px 35px;
        display: flex;
        justify-content: space-between;
        gap: 40px
    }



    .f__main-right {
        width: calc(360px - 20px);

        border: 1px solid grey;
        border-radius: 5px;
    }

}

@media screen and (max-width: 480px) {
    .favorite__main {
        margin: 80px 35px 40px 35px;
        display: flex;
        flex-direction: column;
        gap: 40px
    }

    .f__main-left {
        width: 100%
    }


}