.user__sidebar {

    border-right: 0.5px solid rgb(214, 206, 206);
    width: 252px;
    padding-top: 80px;
}

.user__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

.user__list-item {
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;

}

.user__list-item:hover {
    background-color: #cccccc;
    color: white;
}

.user__center {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.icon1 {
    font-size: 18px;
    color: #000000;
}

.span1 {
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

.user__hover {
    text-decoration: none;

}

.user__hover span {
    color: rgb(238, 77, 45);
}

.user__hover i {
    color: rgb(238, 77, 45);
}


.user__hover-none {
    text-decoration: none;

}

/* ******************************************* */
@media screen and (min-width: 768px) and (max-width:900px) {
    .user__sidebar {

        border-right: 0.5px solid rgb(214, 206, 206);
        width: 160px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 767px) {

    .user__sidebar {

        border-right: 0.5px solid rgb(214, 206, 206);
        width: 100px;
        padding-top: 80px;
    }
}