.viewCart__ListItem {
    margin-top: 20px;
    width: 100%;


}

.ProfileM__container {
    min-height: 90vh;
}

.viewCart__Items-img {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.viewCart__Items-img img {
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px 0px 0px 10px;
    background-color: aliceblue;
}

.viewCart-Items {
    height: 132px;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.viewCart__Items-content {
    padding: 11px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.viewCart__Items-title {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.viewCart__Items-title h4 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.viewCart__Items-total {
    display: flex;
    justify-content: flex-end;

}

.viewCart__discount {
    display: flex;
    margin-top: 12px;
    position: relative;
}

.viewCart__discount input {
    height: 36px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* 
.VC__discount-btn {
    width: 36px;
    height: 36px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
} */

.VC__discount-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.VC__discount-total h4 {
    font-size: 16px;
    font-weight: bold;
    color: #000;

}

.viewCart__Items-color p {
    color: rgb(153, 153, 153);
    font-size: 14px;

}

.VC__discount-total p {
    color: rgb(131 131 131);
}

.VC__discount-btnCheckout {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}



/* 
.viewCart__discount~.VC__discount-panelDiscount {
    transform: translateX(0%);
} */
.titlenameCheckM {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.VC__discount-panelDiscount {
    position: fixed;
    background-color: #972015;
    width: 100%;
    margin-left: -15px;
    height: 464px;
    /* transform: translateX(-100%); */
}

@media screen and (max-width: 480px) {
    .VC__discount-btnCheckout {
        margin-top: 20px;

    }
}