.cate__page {
    margin-top: 70px;

}

.cate_main {
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 70px;
}

.cate__midle {
    margin-bottom: 60px;
}

.cate__list {
    border: 1px solid rgba(0, 0, 0, 0.30);
    width: 170px;
    height: 145px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

}


.cate__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;

}

.cate__item h3 {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
}

.cate__list:hover {
    background-color: #BD4444;
    color: white;
    border: 1px solid #BD4444;
}



.cate__list:hover .cate__item h3 {
    color: white;


}

/* .cate__list:hover svg {
    fill: #fff;
    transition: all ease 0.3s;
} */

.cate__list:hover img {

    filter: invert(100%)
}

@media screen and (max-width: 1024px) {
    .cate__item h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80px;
    }

}

@media screen and (max-width: 768px) {

    .cate__item {
        width: 120px;
        height: 85px;
        gap: 12px;
    }

    .cate__list {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .cate__page {
        display: none;

    }

    .cate__item h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80px;
    }

}