.contact__content {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 340px auto;
    column-gap: 30px;
}

/* .contact__content {
    margin-top: 80px;
    display: flex;
    gap: 65px;

} */

.contact__title-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 32px;
}

.contact__title-main h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}



.right-icon {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;

}

.right-icon h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.contact-right {
    /* width: calc(74% - 27px); */
    border-radius: 4px;
    padding: 40px 35px 51px 35px;
}

.right__content {
    width: 100%;

}

.right__content form {
    width: 100%;
}

.a1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

}

.a1 input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c0c3c7;
    height: 50px;
    border-radius: 0px;

}

.a1 input:focus {
    border: none;
    border-bottom: 1px solid #a6c6e5;
    height: 32px;
    outline: 3px solid transparent;
}



.a2 {
    height: 207px;
}

.a2 textarea {
    border-radius: 0px;
    border-bottom: 1px solid #7e7e7e !important;
    margin-top: 10px;
    width: 100%;
    height: 207px;
    border: none;
    padding: 20px;
}

.a2 textarea:focus {
    border: none;
    border-bottom: 1px solid #a6c6e5 !important;

}





.a3 button {
    float: right;
    margin: 20px 0px;

}

/* 
******************************************
*******************MEDIA******************* */
@media screen and (max-width:1440px) {
    .Link__googlesheet {
        display: none;
    }

}

@media screen and (max-width:1024px) {

    .contact__content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .right-icon {
        gap: 10px;
    }

    .right-icon svg {
        height: 30px;
    }

    .contact-left {
        margin-top: 32px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-right: none;
    }

    .Link__googlesheet {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .a1 {
        display: flex;
        flex-direction: column;
        gap: 0px;

    }

    .contact-right {
        padding: 0px;
    }

    .contact-left {
        padding: 0px;
        margin-top: 1.5rem;
    }

    .a3 {
        display: flex;
        justify-content: center;

    }

    .right-icon {
        margin-bottom: 0px;
    }

    .contact__title-main {
        gap: 0px;
    }
}