.ProfileM__container {
    display: none;
}

.MyOrder {
    margin-top: 24px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .ProfileM__container {
        display: block;
    }
}