.test1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test2 {
    width: 26px;
    height: 26px;
    background-color: brown;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.test3 {
    border: 2px solid orange;
    width: 300px;
    height: 1px;
    background-color: orange;
}

.test1 hr {}