.orders__edit-topTitle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.orders__edit {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
    gap: 50px
}

.orders__edit-top {
    border-radius: 4px;
    width: 50%;
    border: 1px solid rgb(206, 206, 206);
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.orders__edit-top textarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(206, 206, 206);
}

.orders__edit-topBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.orders__editStatus {
    border-radius: 4px;
    padding: 20px;
    height: 300px;
    width: 400px;
    border: 1px solid rgb(218, 218, 218);
    color: #fff;

    border-radius: 5px;
}

.orders__editStatus button {
    width: 100%;
}



.orders__editStatusTop button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
}

.orders__editStatusTop .dropdown-menu {
    animation: .5s slideDropAdmin;
}


@keyframes slideDropAdmin {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(23%);
    }
}



.orders__edit-inputFile::-webkit-file-upload-button {
    padding: 8px 28px;
    color: #fff;
    background-color: #DB4444;
    border-radius: 4px;
    border: none;
}

.edit__infoOrder {

    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.edit__infoOrder-input input {

    height: 56px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(224, 224, 224);

    outline: none;
}

.edit__infoOrder-height {
    height: 80px;

}

.edit__infoOrder-input {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.edit__infoOrder-inputAddress {
    height: 56px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(224, 224, 224);

    outline: none;
}

.edit__infoOrder-input input:focus {
    border-bottom: 2px solid #a6c6e5;
}

.edit__infoOrder-inputAddress:focus {
    border-bottom: 2px solid #a6c6e5;
}

.edit__infoOrder-btn {
    display: flex;
    justify-content: flex-end;
}

.edit__infoOrder-btn button {
    padding: 8px 32px;
    margin-top: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #DB4444;
}

.inOrder__bottom {
    margin-top: 20px;
}

.inOrder__title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.inOrder__title h3 {
    font-weight: 500;
}

.inOrder__title p {
    font-size: 14px;
    color: grey;
}

.inOrder__left {
    width: 30%;

}

.inOrder__right {
    gap: 15px;
    padding: 0px 35px 35px;
    border-left: 1px solid rgb(211, 211, 211);
    max-height: 400px;
    overflow-x: auto;
}

.inOrder__right-center {
    margin: 5px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.inOrder__right-center h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.odConfirm__total-container {
    margin: -45px 35px 0px 35px;
}


.odConfirm__total-Item {
    margin-top: 5px;
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: flex-end;
    gap: 8px;

}

.odConfirm__Item-left {
    border-right: 1px solid rgb(216, 216, 216);
    padding: 10px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.odConfirm__Item-Right {
    width: 255px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;
}

.odConfirm__total-Please {
    padding-left: 20px;
    border: 1px solid rgb(255, 196, 0);
}

.allorder__search input {
    padding: 10px;
    background-color: rgb(209, 209, 209);
    width: 100%;
    border: none;
}

.allorder__search {
    margin-top: 10px;
}

.allorder__search input:focus {
    outline: 1px solid grey;
}

/* ****************************************************** */
.ItemOrder__Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.ItemOrder__Top-left {
    display: flex;
    gap: 8px;
    align-items: center;

}

.ItemOrder__Top-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ItemOrder__center {
    padding: 10px 0px;
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ItemOrder__center-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.center__left-img {
    width: 82px;
    height: 82px;
    background-color: aliceblue;
}

.center__left-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.center__left-content {
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ItemOrder__center-left span {
    font-size: 12px;
    color: grey
}

.ItemOrder__center-left p {
    font-size: 12px;
    color: grey
}

.ItemOrder__center-right {
    color: #ee4d2d;
    font-weight: 500;
}

.bottom__Subtotal {
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.bottom__Subtotal i {
    margin-right: 8px;
}

.bottom__Subtotal span {
    border-right: 1px solid rgb(216, 216, 216);
    padding: 10px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.bottom__Subtotal p {
    width: 27%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom__total-Please {
    padding: 10px;
    padding-left: 20px;
    border: 1px solid rgb(255, 196, 0);
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
}